matrx          == 2.2.0

# all requirements below are 
# additional libraries provided to do this assignment. 


# libraries used by matrx and their versions, excl webserver stuff
bidict         == 0.21.2
chardet        == 4.0.0
colour
docutils
gevent
greenlet
jsonpickle
numpy
Werkzeug       == 2.0.0
flask          == 2.1.3


# Other libraries requested by students and added to make sure
# Everyone uses the same versions.
